---
permalink: notes.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }} - Notes</title>
  <subtitle>Notes from {{ metadata.author.name }}</subtitle>
  <link href="{{ metadata.feed }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.note | rssLastUpdatedDate }}</updated>
  <id>{{ metadata.url }}/notes</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in collections.note %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>Note {{note.fileSlug}}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | rssDate }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
