---
import { ROUTES } from "@/assets/contants";
---

<section class="Section">
    <div class="Container is-small">
        <h2 class="title">How can I help you</h2>
        <p>
            I have several years of experience working as UI engineer and
            front-end developer on the web. My strongest skills are creating
            stunning user interfaces and bridging the gap between engineering
            and design. I am an expert in web technologies and have worked
            extensively with the main tools and libraries in this field.
        </p>
        <p>
            Currently, the frameworks I specialize in and use to develop
            front-end projects are Astro, Next.js, and Shopify. I can build your
            website, online store, or app, or I can join your product team as a
            part-time contributor. My approach to work emphasizes order and
            rigor, simplicity, standards, and a well-crafted design. You can
            learn more about me in the <a href={ROUTES.about}>about</a> page.
        </p>
        <p>
            I’m always looking to collaborate on inspiring projects. Let’s
            talk—I’d love to get to know you!
        </p>
    </div>
</section>

<style>
    p {
        font-size: 1.1rem;
        line-height: 1.5;
    }
</style>
