---
import Layout from "@/components/layouts/page.astro";
import { render } from "astro:content";
import { getNotes } from "@/utils/collections/notes";

export async function getStaticPaths() {
	const { notes } = await getNotes();

	return notes.map((note) => ({
		params: { id: note.id },
		props: { note },
	}));
}

const { note } = Astro.props;
const { Content } = await render(note);
---

<Layout title={note.data.title}>
	<p>{note.data.datePub}</p>
	<div class="prose dark:prose-invert"><Content /></div>
</Layout>
