---
import Layout from "@/components/layouts/page.astro";
import { getCollection, render } from "astro:content";
import { Note } from "@/components";
import { filterCollection } from "@/utils/collections";

const allNotes = await getCollection("notes");
const filteredNotes = filterCollection(allNotes);

const renderedNotes = await Promise.all(
	filteredNotes.map(async (note) => {
		const renderedNote = await render(note);
		return {
			id: note.id,
			date: note.data.datePub,
			render: renderedNote,
		};
	}),
);
---

<Layout title="Notes">
	<ul class="grid gap-4">
		{
			renderedNotes.map((note) => (
				<li>
					<Note id={note.id} date={note.date} Content={note.render.Content} />
				</li>
			))
		}
	</ul>
</Layout>
