<article id="{{note.fileSlug}}" class="Note{% for class in note.data.class %} Note--{{ class }} {% endfor %}">
	<div>{{ note.templateContent | safe }}</div>
	<div class="Note-metadata">
		<time class="Note-date" datetime="{{ note.date | dateTo('iso') }}" title="{{ note.date | dateTo("dd LLLL, yyyy - HH:mm") }}">{{ note.date | dateTo("dd MMMM, yyyy") }}</time>
		<span class="Note-links">
		{% if note.data.twitter %}
			<a href="{{ url.twitter.root }}{{ site.author.twitter }}{{ url.twitter.status }}{{ note.data.twitter }}" target="blank" aria-label="View in Twitter" title="View in Twitter">
				<img src="/assets/social/twitter.svg" alt="Twitter logo">
			</a>
		{% endif %}
		</span>
		<a class="Note-id" href="{{page.url}}{{note.fileSlug}}">{{note.fileSlug}}</a>
	</div>
</article>
