<footer class="footer">
	<div class="footer-main">
			<ul class="footer-sideProjects">
				<li><a href="{{projects.bramework.repository}}" target="blank">{{projects.bramework.name}}</a></li>
				<li><a href="{{projects.swibe.repository}}" target="blank">{{projects.swibe.name}}</a></li>
				<li><a href="{{projects.standarize.repository}}" target="blank">{{projects.standarize.name}}</a></li>
				<li><a href="{{projects.browserdom.repository}}" target="blank">{{projects.browserdom.name}}</a></li>
			</ul>
			<div class="footer-rightMenu">
				<div class="footer-now">
					<a href="{{ site.now }}">⏱Now</a>
				</div>
				{# <div>
					<label for="">
						<input type="checkbox" name="" id="">
						Dark mode
					</label>
				</div> #}
				<address class="footer-contact">
					<a class="footer-contact-mail" href="mailto:ivan@barcia.dev" aria-label="Enviar email a {{site.author.name}}">ivan@barcia.dev</a>
					<div>
						<a class="footer-contact-social" href="{{ url.github.root }}{{site.author.github}}" aria-label="Perfíl de GitHub de {{site.author.name}}" title="Perfíl de GitHub de {{site.author.name}}" target="blank"><img src="/assets/social/github.svg" alt="Logotipo de GitHub"></a>
						<a class="footer-contact-social" href="{{ url.twitter.root }}{{site.author.twitter}}" aria-label="Perfíl de Twitter de {{site.author.name}}" title="Perfíl de Twitter de {{site.author.name}}" target="blank"><img src="/assets/social/twitter.svg" alt="Logotipo de Twitter"></a>
						<a class="footer-contact-social" href="{{ url.linkedin.root }}{{ url.linkedin.profiles }}{{site.author.linkedin}}" aria-label="Perfíl de LinkedIn de {{site.author.name}}" title="Perfíl de LinkedIn de {{site.author.name}}" target="blank"><img src="/assets/social/linkedin.svg" alt="Logotipo de LinkedIn"></a>
					</div>
				</address>
			</div>
	</div>
	<nav class="footer-bottom">
		<a href="/legal" rel="nofollow">Aviso legal</a>
		<span>&nbsp;&middot;&nbsp;</span>
		<a href="{{ site.feed.articles }}" rel="nofollow">Articles RSS</a>
		<span>&nbsp;&middot;&nbsp;</span>
		<a href="{{ site.feed.notes }}" rel="nofollow">Notes RSS</a>
		<span>&nbsp;&middot;&nbsp;</span>
		<a href="{{pkg.repository}}" target="blank">v{{pkg.version}}</a>
	</nav>
</footer>
