---
import Layout from "@/components/layouts/page.astro";
import { getCollection, render } from "astro:content";
import { Note } from "@/components";
import { filterCollection } from "@/utils/collections";

const allStatus = await getCollection("status");
const filteredStatus = filterCollection(allStatus);

const renderedStatus = await Promise.all(
	filteredStatus.map(async (status) => {
		const renderedStatus = await render(status);
		return {
			id: status.id,
			date: status.data.datePub,
			render: renderedStatus,
		};
	}),
);
---

<Layout title="Status">
	<ul class="grid gap-4">
		{
			renderedStatus.map((status) => (
				<li>
					<Note id={status.id} date={status.date} Content={status.render.Content} />
				</li>
			))
		}
	</ul>
	<a
		href="/status/rss.xml"
		class="inline-flex items-center hover:bg-slate-100 dark:hover:bg-slate-800 rounded p-1"
		aria-label="RSS feed"
	>
		<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" viewBox="0 0 256 256"
			><path
				d="M222,192a6,6,0,0,1-12,0c0-80.5-65.5-146-146-146a6,6,0,0,1,0-12C151.12,34,222,104.88,222,192ZM64,106a6,6,0,0,0,0,12,74.09,74.09,0,0,1,74,74,6,6,0,0,0,12,0A86.1,86.1,0,0,0,64,106Zm4,72a10,10,0,1,0,10,10A10,10,0,0,0,68,178Z"
			></path></svg
		>
	</a>
</Layout>
