.container {
    min-height: var(--app-height, 100vh);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
  padding: 0 1rem;
  width: 860px;
  max-width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  height: 60px;
  /* background-color: lightcoral; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
