.blog-postList {
	@include genericList;

	&-item {
		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}
}



.blog {
	&-post {
		&-link {
			@include voidLink;
			@include hoverFocusActive {
				color: color(secondary);
			}
		}

		&-title {
			font-size: 1.5em;
			margin-bottom: 0;
			@include from(small) {
				font-size: 2.2em;
			}
		}

		&-metadata {
			margin-top: 0px;
			font-size: 0.95em;
			color: $grey-400;
		}

		&-tagList {
			@include inlineList;
		}

		&-tag {
			&:not(:last-child) {
				margin-right: 6px;
			}

			a {
				@include voidLink;

				&::before {
					color: $grey-200;
					content: "#";
				}

				@include hoverFocus {
					&::before {
						color: color(secondary);
					}
				}
			}
		}
	}
}



.post {
	&-title {
		text-align: center;
		font-size: 2em;
		margin-bottom: 1em;
		@include from(medium) {
			font-size: 3em;
		}
	}

	&-content {
		font-size: 1.2em;

		pre {
			@include until(small) {
				@include oversize($wrapper-margin-x);
			}
		}
	}

	&-footer {
		display: flex;
		flex-direction: column;
		margin-top: 40px;
		@include from(small) {
			flex-direction: row;
			margin-top: 60px;
		}
	}

	&-metadata {
		flex: 1;
		margin-bottom: 30px;
		color: $grey-400;
		@include from(small) {
			margin-bottom: 0;
		}
	}

	&-comments {
		text-align: center;
	}
}
