<section class="Section Hero">
    <div class="Container">
        <div class="Wrapper">
            <h1 class="title">Hi, I'm Iván Barcia</h1>
            <p class="text">
                Freelance web builder focused on creating visually striking and
                highly functional user interfaces. Based in northwest Spain.
            </p>
        </div>
    </div>
</section>

<!-- <script>
    import gsap from "@/assets/scripts/gsap";

    const tl = gsap.timeline({
        scrollTrigger: {
            trigger: "body",
            pin: true,
            start: "top top",
            end: "+=300px",
            scrub: true,
        },
    });

    tl.to(".text-1", { opacity: 1 }, 0);
    tl.to(".text-2", { opacity: 1 }, 1);
    tl.to(".text-1", { opacity: 0.1 }, 1);
    tl.to(".text-3", { opacity: 1 }, 2);
    tl.to(".text-2", { opacity: 0.1 }, 2);
</script> -->

<style>
    .Hero {
        margin-top: 4rem;
    }

    .title {
        font-size: var(--size-6);
        margin: 0 0 2rem 0;
    }

    .text {
        font-size: 1.75rem;
        line-height: 1.5;
        opacity: 0.3;
    }
</style>
