---
import Section from "@/components/Section.astro";

const CONTENT = [
	{
		title: "Coding guy",
		items: [
			"I am a mostly self-taught developer with a strong foundation in web technologies. I studied design at Instituto Tramontana.",
			"I'm always eager to learn new things in tech and expand my knowledge.",
			"After several years working in both product and agency environments, I transitioned to freelancing in the summer of 2024.",
			"I enjoy developing personal projects and exploring creative solutions.",
		],
	},
	{
		title: "Away From Keyboard",
		abbr: "AFK",
		items: [
			"I'm passionate about photography, especially documentary photography. I spend a lot of time taking, reviewing, and studying photos.",
			"I also love running through forests and mountains, and I sometimes participate in trail running competitions.",
			"I have a strong interest in local heritage, especially petroglyphs.",
		],
	},
];
---

<Section title="About" id="about">
	<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
		{
			CONTENT.map((block) => (
				<div class="flex flex-col gap-2">
					<h3 class="font-bold mb-1">
						{block.abbr ? <abbr title={block.title}>{block.abbr}</abbr> : block.title}
					</h3>
					<div class="space-y-5 leading-relaxed">
						{block.items.map((item) => (
							<p>{item}</p>
						))}
					</div>
				</div>
			))
		}
	</div>
</Section>
