---
import Section from "@/components/Section.astro";
import { COMPANIES } from "@/assets/constants";
---

<Section title="Companies I've worked with" id="companies">
	{
		COMPANIES.map((company, index) => (
			<span>
				{company.name}&#8205;{index !== COMPANIES.length - 1 ? ", " : "."}
			</span>
		))
	}
</Section>
