---
import Section from "@/components/Section.astro";
import { SOCIAL } from "@/assets/constants";
---

<Section title="Get in touch" id="contact">
	<ul class="flex flex-col gap-4 sm:flex-row">
		{
			Object.values(SOCIAL).map((social) => (
				<li>
					<a href={social.url} target="_blank" rel="noopener noreferrer">
						{social.name}
					</a>
				</li>
			))
		}
	</ul>
</Section>
