---
import { NAV_FOOTER } from "@/site.config";

const { pathname } = Astro.url;

const isActive = (url: string) => pathname.split("/")[1] === url.split("/")[1];
---

<footer class="py-8 mt-16 md:mt-32 text-xs">
	<div class="flex justify-between flex-col-reverse gap-3 md:flex-row">
		<div class="">© 2025 HOB • handcrafting the web</div>
		<ul class="flex gap-8">
			{
				NAV_FOOTER.map((item) => (
					<li>
						<a href={item.url} class:list={["no-underline", { "font-bold": isActive(item.url) }]}>
							{item.label}
						</a>
					</li>
				))
			}
		</ul>
	</div>
</footer>
