---
import Section from "@/components/Section.astro";
---

<Section id="hi">
	<h1 class="font-bold mb-3">Hi, I'm Iván Barcia</h1>
	<p class="leading-relaxed">
		Freelance web builder focused on creating visually striking and highly functional user interfaces. Based in
		northwest Spain.
	</p>
</Section>
