---
import { getCollection, getEntry } from 'astro:content';
import Talk from '@/components/Talk.astro';
import Section from '@/layouts/Section.astro';
const speaking = await getCollection('speaking');
speaking.sort((a, b) => b.data.date - a.data.date);
---

<Section title="Speaking" id="speaking">
	<ul>
		{speaking.map((talk) => (
			<li>
				<Talk talk={talk} />
			</li>
		)
		)}
	</ul>
</Section>


<style>
	ul	{
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
</style>