---
import "@/assets/styles/global.css";
import "@fontsource/ibm-plex-mono";
import { Navbar, Footer } from "@/components";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Iván Barcia | UI Engineer</title>
		<meta
			name="description"
			content="Iván Barcia is a freelance UI Engineer based in Santiago de Compostela, Spain."
		/>
	</head>
	<body
		class="bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-50 antialiased max-w-screen-md box-content mx-auto min-h-dvh font-mono px-4 md:px-8 flex flex-col cursor-default"
	>
		<Navbar />
		<main class="grid gap-16 md:gap-32 flex-1">
			<slot />
		</main>
		<Footer />
	</body>
</html>
