---
import "@/assets/styles/global.css";
import "@fontsource/ibm-plex-mono";
import Navbar from "@/components/Navbar.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Iván Barcia | UI Engineer</title>
	</head>
	<body class="antialiased max-w-screen-lg mx-auto min-h-dvh font-mono">
		<Navbar />
		<slot />
	</body>
</html>
