---
import { ClientRouter } from "astro:transitions";
import "@/assets/styles/global.css";
import "@fontsource/ibm-plex-mono/400.css";
import "@fontsource/ibm-plex-mono/700.css";
import { Footer, Navbar } from "@/components/sections";

const { class: className } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Iván Barcia | UI Engineer</title>
		<meta
			name="description"
			content="Iván Barcia is a UI Engineer and Frontend Developer based in Santiago de Compostela, Spain."
		/>
		<meta name="format-detection" content="telephone=no" />
		<ClientRouter />
	</head>
	<body
		class="bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-50 antialiased max-w-3xl box-content mx-auto min-h-dvh font-mono px-4 md:px-8 flex flex-col cursor-default"
	>
		<Navbar />
		<main class:list={["flex-1 w-full mx-auto", className]}>
			<slot />
		</main>
		<Footer />
	</body>
</html>
