---
import Layout from "@/components/layouts/main.astro";

const { title } = Astro.props.frontmatter || Astro.props;
---

<Layout class="prose dark:prose-invert prose-headings:prose-base prose-headings:target:bg-amber-100 dark:prose-headings:target:bg-amber-950">
	<h1>{title}</h1>
	<slot />
</Layout>
