---
import Layout from "@/components/layouts/main.astro";

const { frontmatter, rawContent } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Iván Barcia | UI Engineer • LLMs</title>
	</head>
	<body>
		<pre class="whitespace-pre-wrap font-mono">{rawContent()}</pre>
	</body>
</html>
