---
import Layout from '../layouts/Layout.astro';
import Work from '@/sections/Work.astro';
---

<Layout title="Iván Barcia">
	<main>
		<header>
			<h1>Hi, I am Iván</h1>
			<p>Web designer and developer. Interested in CSS, JavaScript, design, UX, digital products development, design systems, and all about frontend stuff.</p>
		</header>
		<Work />
	</main>
</Layout>

<style>

</style>
