---
permalink: /key.txt
excludeFromSitemap: true
---
-----BEGIN PGP PUBLIC KEY BLOCK-----

mQINBFpp7z8BEADM3K0l05DZONO9ypHbt12XhF1QKGFrGn7sTxNRCmlYn+Zymus5
qb5qgAkmteJuxUJAB46iduAhN9Ymt/ZrJdKvTxUZDoYTouzLtgjKSR4SMOnPnJ35
LoOHAFY6mcZLl+24DlOrHK/7phqL+ycbwVzsVpc56WSPeGd5a0Ts8pYUogtsWu/R
tsExwzkpU3y/jXsuCM5GJpedipQeIGtrBKByVDtmCIbXUcOS30lrsSRc7Rdr7Yp8
VMqlvxS2mYSHW+1qosGiIbHp5J8aCLe6OBgEBh5ZJ0Q8IH+bLqOlWSUddnabgYEP
jCJKX2y14CpWfSlPRPnSADdhLBcdOsAqfGR2J2bQp4A5u7V7ymd6Kleuid0reKSP
z674SVkdDqR1JVoKPN2RIW5mq7RVbvzkRWNacqcah18HEKBDw7/jhQjmgNoifcM1
8zU7tVYw9U6+pWPmNMR4eH2Z0r/uJrdxyslNIaCoaRpGSQ4XXtMhhbc/AyU+iQrQ
TGJIi224yPNfA6S7iH8/mmZUqKL4KdpdSux2ZrCNjOLan4pXR7AgnOkzB6l+aJj/
VCTbxeiX8mFOOmk4Oqt2WBp3cxWALxM+Vu7ePoGFaK6gkFk1rxG9TZQevnoEJtpf
YwZU4XFV6034HMegvvTBZGzONSHi2Rb+TKqA3z0i+WitqHTGEXJMhCn3hQARAQAB
tCxJdsOhbiBCYXJjaWEgPGl2YW5iYXJjaWFmZXJuYW5kZXpAZ21haWwuY29tPokC
VwQTAQgAQQIbAwULCQgHAgYVCAkKCwIEFgIDAQIeAQIXgAIZARYhBCHZF6Y9R1rG
bw46c0ClwFr8OmGKBQJaafMqBQkDwmrrAAoJEEClwFr8OmGKCKUP/RHpLvuXu3fM
1WXt8dapoC9x1lhpGGO6RNQ/a7HwlEAN1AIkuEH4TWXy4UHinBy1pz6yx1v+Awmd
ms12ClnFxjdj81uKexHDYOInrSiA3s0NGnr1Q/FEY+OpwqBZznAjcxA+F5KnjiJY
lXa3SOwZRdVfdWv563r0Hkj/rGOCTRLPBFm8q+WMZmq6HYWyFuTgisWB/Ejl2f4v
3gwl3w76mgN51uFLtU1LsAEHSLFO8aXjhyJAe+YBn4byH2vPMJFGLog/GhuO8ndO
P0ezGhlLLHp/dzfj1qoxB859wymdpPWJP11bNME8aeGkv95Mz4pOzg32/vE54kmY
uyXanIruF5/zpGVsIelqiVNlafZGYCDCDmn9anl+ngQM/+rIeWu479aiMPoZQ9rd
hnt8qiiWubN0iTUAGcFaU2TLYuMhfxShYLj7kbKJNCoCw0h9jSlhYaPZcDirooHc
OyY0Ud7Y1Dqt2d6YrUHLnw1nt9oZyqT0V5NCW1S1Tumcv1BzJcVis7pmCgN7LZlR
J12RV9g7/iyTdD1JlQ/xNK1U9LOd9cmzrOsbY2HlM5x6Dy5/G+966u0TxQ6wnagO
dPAmg93MmE0VE4OLt1h1LJgm66bEO+oRI3YJs2okGbXv525fCK2VHDCpZ2pTpjNT
SnQk0b9p8NKkB4/rsqFvANkhwww6AgyqtB5JdsOhbiBCYXJjaWEgPGl2YW5AYmFy
Y2lhLmdhbD6JAlQEEwEIAD4WIQQh2RemPUdaxm8OOnNApcBa/DphigUCXGx9VQIb
AwUJA8Jq6wULCQgHAgYVCgkICwIEFgIDAQIeAQIXgAAKCRBApcBa/DphinQ4D/9X
fvtRTrFi1bSD28qQGnsFKDPDpp3LwK+GsPuiawHzFYmxwvn0lI6Sd3iwR2wjB7EY
AGW9xtP84L5gXeskslMoWEiO2gvfugxFZn0yC2aJMZ5D/Bl3pWM2QJzY6VZA68Ia
TXYmWopmGtPr8bZ0CUum3GX6ckDks/67FgZBUq+WGg84DvNfG2jLmCGqTvbwAewx
Jb0ZtI5dwCRLfMnT3PMFPqB+B1jLiFGnsEYqpW5KD46Ffw4RUcifZpyJr6J8yhtR
cZxmgrRBKBuwxxWAT9T45bK2c3cqYp8drsZ+Wiyrd/N4cLf1jy8dCKAKobirvYAP
jFer7QOL2fMQiE7EAIpGftk8t3xUpXN6ltjj7BlGBOYG/sP0T1XtZvIe/dJrY6qD
SeAjymtGmmF9Ymg8/0q82625q7EuRhZ3kmaR2xiNBgmKW1LumZ43Gn52nrST2jEi
pOJBSrkbIYDePCQOpyPozHjMrAYmOvKZoL6oebRrrmnVhQv1jPXywQUMFD5Rq4mO
XhFwMa+3wHJTGIlTL58u8VCq3ZWTzQHohnF47KmqpZdZMme/gBLjoerd+LPhy9js
uIPWqT/rinXHF6fx9GNj/vEJgg0bKO6lYPgj5OF2CqTt/Ln2PwmM4RsDDigV7WaI
TR9r5POjrcBbWgt8t1ZfaVmQOBgwfXEUFndRDxfBYLQkSXbDoW4gQmFyY2lhIDxp
dmFuYmFyY2lhQGljbG91ZC5jb20+iQJUBBMBCAA+FiEEIdkXpj1HWsZvDjpzQKXA
Wvw6YYoFAlxsfYICGwMFCQPCausFCwkIBwIGFQoJCAsCBBYCAwECHgECF4AACgkQ
QKXAWvw6YYpVjw/+LZQp9nS4hbPDgUorBFGWoh5NFxap54wsZ1FN2xUC9S7A8zV5
BMjrUSE0G0+UXngLZUDnkMhPaQg0yQenP7pZrW+z6np6eV5xKNk0uq31lnfepguW
EQi7IuW1eXxPb2mHE4BhsgjT/GnltSlM0+q0+ilBSP2srj4A4bOpT8YhESCd2qCG
eLkBnG2rIxgbfcbzMyU8zdvBYi9LhTF4fcUpk20IQCSoBbt4uR9vBDrCdElOJ0rU
1jxiHUUzbViGHItCUj4ILKzvcN7T03iHlereWVJ2QyOQ4XAhI/+xTEjJhEGpfoDU
PUr0jgVKBUm3puqAEC98d4aTDgqbOZHQJuhyjQwatCsADOHRJBnEeaXtP7UqkTr5
4n964WvHcZW6YrMMD3pvgHQN4fXpy5IkQ45hpe6XO0FstLM7omRdO2e/IUbTxkYE
OB7/A5S6uiuG8SuAIBvttaryHrFd4f8khO4X7Z36sS0Or8zfwkmybhyJf2CLuo9v
wOY8RCzJ5QV9oWRdtcqR/dZzpgrShjGKH/pPQEc+7p/mmMNSw0d/w2ULggxgIdNm
ANBerhmPVbBac9TOgcZnLWWWDHTlcu3DwBfhct7b3tUW0OlO+CZCLoBsxe7vw7qe
0zz9xaPeUWqIxsnvtC7LWh9ykWxC31SzONDWsSiT32txZenp3PCDrElKTkO0Hkl2
w6FuIEJhcmNpYSA8aXZhbkBiYXJjaWEuZGV2PokCVAQTAQgAPhYhBCHZF6Y9R1rG
bw46c0ClwFr8OmGKBQJce/p7AhsDBQkDwmrrBQsJCAcCBhUKCQgLAgQWAgMBAh4B
AheAAAoJEEClwFr8OmGKqUgP/0bHvdjLJw4xC8bqlucOeo3xxGXh3nUIJ/uk6Oeu
AAniCEJS5Ites1bDzFpd7cnC20rtuC27zE/hv8DOhgpa2Yu+x36dxDXQGT6sMq07
zuMI3optHX0fRsFdb7u94ydritVo2B4ROY8ctgCqTdSXjR5RW4WjRx+90TFAVSL3
qegnqaNHTHAa+euedCuLA8Xeag5SfB4oWT4BqfbkQyvMtjOo9QnEySmRpT7o0PHG
gnL1/OPXwXb7aS3mmkbMeEEkDU/ODqZqLpmvmql10lGDmypju+jk2HrHerzXit8B
Ch9HuZwqZ38v+Vuty4sxsL5NiBw7MdaMDPw/7Zr7W/3zXc186vYuKf3GQ2Q/lefV
qzVYvg4ypVMBfFYbbnQ4lSZOL8/k+ayP6+nrtvV4nrgIlO4khuMnQUrQUx6Yna8u
G754mCHvTU1E4WYrdFKQ3jqTKD5sS8TP76GgYZ1X8IwWYJYNAv7fzhCXFj+zd/aS
9r7tPuu6kkZzu1cCL+maX0QJk7K6h4ylJt2KX2XV96+pQZe2VA9jZtPFgtZda8sQ
SKTTkZxI4BzQ0qi+JWAb7si5x85BHs6gXjBQI8b+aIx/wTMsdX20aLxZiImJl9Ug
REfgCfhgyKCX5WYAA6681WaOnNWiqsjXAtgc7wxOpC5s4nbuYtvsSWPrES9x1vTz
9LXtuQINBFpp7z8BEACZIeftJmNXJ+XoLIBd3+zPg84w3twhFtO4ho3MfKPu/nUx
K1BdVbZ4EPI3R7Ul0TYVtBKsva+TZ/uixfDv1rTI2999g8iLFZ/4wMD0kAhu0z2V
/CtIUlcvmLU4/iThM092d/mlbM1n1G7ld1Lf1E/jV5svce/h6QAGZisRsSKyA2in
/htVaSiwA+eufIADpCjnfoj4X2WsoNFGylvzV0cnISiJSKIi1oyOpnB7HHW6ykPz
WU0ETOPy7ji8tW9O++Jeo2fv6IgvhfZx5GWgN/amKLE7KgTMu1zHNNJSkqhiFcL9
JppMdqDlWYmKRYFjCT8iXQJFgVx6VK50ZQLkJzrYKDCVYKt63dRmIMrZzBVMk1sG
tu5lS0+07N+PhjyHqHdeJE1rOvsAJoVntE4fvLBIIyZSbhfKO81PmOYuXjUHyauo
1yzFTMdCQOi8fv4OCxaKi+hQKEiGolrqCSKSQOBFVxnc6PEFJ5ZdYbkfQZ8iDY6R
Ryv2+NP82tChro+B8WocjSf+nLGDJPzSly1FV9cnkFh8OSFiscTPyQsSjJe5zrgu
XOrNNVC8NS49+L1Bp9icqVmXMi+3bdCHOk7dBLs5mFrllS1wZzORrMhOy9JY4VtY
jJPhRmExWpjdgjpqMXCSbpyGvGKraouRwg4mnmdJO9S3fzaHTvMiGgLIVsfpdwAR
AQABiQI2BBgBCAAgFiEEIdkXpj1HWsZvDjpzQKXAWvw6YYoFAlpp7z8CGwwACgkQ
QKXAWvw6YYp96Q/+MnMhHLSPqdrYusmBixfkyVS/kts628IvFkA8RKSImo/pJgaj
AhJh0i4Ppn3lI1PrEpcNRoa0WQv5Rvs3DRQR6gHgjo2D/tuKMq+BL3E/iWH2UpJx
B+Wl+Epi23jC9Jx1pgVoNQKhoHeBT5cpnWB4X+woiaf9onFQsONn9qrWqTAIGie3
C8i3V1mWXHUXcqrG8xOB7ZkaYsY+GxS/DZgszMgii8dnOjxaAwcdJpZKnZEax7TE
Yxkhmc2B2NhnPWLzCetcRW8Nud7jDlFXYb3jgRyIDatUujrS9THkInpN0+/BJ2B5
YVKGaWYYazcjHjFpP+pPBvsycNfwZkDKOLgEqkrr7xGfnqlvEJ4KLBPo/vfM2new
fmPNVHXB+/fZFM7Zc4dwYDA6Hn48JIyUDyec8jYjZriS0pmiG26jynpivNg9jd2R
KndobFVQwnndLVID6H7qnvkzrjcoA6Y89fa9yS8b168+qCpfgCDXqZUSsxLOsCDl
BbO71+j8XiWaxWfpnVEc9p66t2+9NRvAVWRZSD4CKGLHWtilMZDnEDKYqFs1EqNA
pwrIjJPBOof9cQsh1GllrTya+wMrfecRKzaXYy+0IrG0izVmXCXpCzCEQYKURsoQ
UzHt3o930w7mzy55X2/1QOUS0rJojszmXKwuUYNuxjV9N44mbV6ZepN2/Z8=
=buou
-----END PGP PUBLIC KEY BLOCK-----
