/* $WRAPPER */

.wrapper--NavbarFixed,
.wrapper--NavbarScrollSensitive {
	margin-top: var(--Navbar-height);
}

.wrapper {
	margin-bottom: 100px;
	max-width: $wrapper-width;
	@include marginX($wrapper-margin-x);
	@include from($wrapper-width + ($wrapper-margin-x * 2)) {
		@include marginX(auto);
	}
}

.wrapper-small {
	margin-bottom: 100px;
	max-width: 700px;
	@include marginX(8px);
	@include from(700px + (8px * 2)) {
		@include marginX(auto);
	}
}
