[data-page="home"] {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.home {
	&-wrapper {
		display: flex;
		flex: 1;
		flex-direction: column;
		margin-top: calc(var(--Navbar-height));
		padding: 30px $wrapper-margin-x 50px;


		@include from(small) {
			padding: 50px;
		}

		@include from(medium) {
			padding: 100px 200px;
		}
	}

	&-name {
		font-size: 2.5em;
		margin: 0 0 20px;
		color: var(--brandColor-primary);
	}

	&-work {
		font-size: 3em;
		margin: 0 0 25px;
		line-height: 0.9em;
		@include from(medium) {
			font-size: 4em;
		}
	}

	&-interests {
		font-size: 1.8em;
		color: var(--fontColor--light);
		line-height: 1.1em;

	@include from(small) {
		line-height: 1.2em;
	}
	}
}
