---
import { ROUTES } from "@/assets/constants";

const { pathname } = Astro.url;

const MENU = [
	{
		label: "home",
		url: ROUTES.home,
		active: pathname === ROUTES.home,
	},
	{
		label: "now",
		url: ROUTES.now,
		active: pathname.includes(ROUTES.now),
	},
];
---

<nav class="py-6 mb-6 md:mb-16">
	<ul class="flex gap-8 justify-end">
		{
			MENU.map((item) => (
				<li>
					<a class:list={["no-underline", { "font-bold": item.active }]} href={item.url}>
						{item.label}
					</a>
				</li>
			))
		}
	</ul>
</nav>
