---
import { ROUTES } from "@/assets/contants";

const { pathname } = Astro.url;

const MENU = [
	{
		label: "home",
		url: ROUTES.home,
	},
	{
		label: "now",
		url: ROUTES.now,
	},
];
---

<nav>
	<div class="Container">
		<div class="Menu">
			<a class="Menu-home" href={ROUTES.home}>home</a>
			<div class="Menu-desktop">
				<ul>
					{
						MENU.map((item) => (
							<li>
								<a href={item.url}>{item.label}</a>
							</li>
						))
					}
				</ul>
			</div>
		</div>
	</div>
</nav>

<style>
	.Menu {
		padding: var(--size-7) 0;
		display: flex;
		justify-content: space-between;
	}

	.Menu-desktop {
		margin-left: auto;
		display: none;
		@media (width > 768px) {
			display: block;
		}
	}

	.Menu-mobile,
	.Menu-home {
		display: block;
		@media (width > 768px) {
			display: none;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		gap: 2rem;
		flex-direction: row;
	}

	.Drawer-menu {
		flex-direction: column;
	}

	a {
		display: inline-block;
		color: inherit;
		text-decoration: none;
	}
</style>
