---
import { ROUTES } from "@/assets/constants";
import { absoluteUrl } from "@/utils";
import { Share } from "@/components";
type Props = {
	id: string;
	date: Date;
	Content: any;
	isPage?: boolean;
};
const { id, date, Content, isPage = false } = Astro.props;

const Container = isPage ? "div" : "article";
const Link = isPage ? "span" : "a";
---

<Container class:list={["flex flex-col prose", isPage ? "prose-md" : "prose-sm"]}>
	<div transition:name=`content-${id}`>
		<Content />
		{isPage && <Share url={absoluteUrl(`${ROUTES.note.replace(":id", id)}`)} />}
	</div>
	<footer class="order-first text-xs text-slate-400 prose-a:text-slate-400" transition:name=`footer-${id}`>
		<time datetime={date.toISOString()} class="leading-5 align-bottom">
			<Link href={`${ROUTES.note.replace(":id", id)}`}
				>{
					date.toLocaleString("en-US", {
						year: "numeric",
						month: "short",
						day: "numeric",
						hour: "2-digit",
						minute: "2-digit",
					})
				}</Link
			>
		</time>
	</footer>
</Container>
