---
type Props = {
	title?: string;
	id?: string;
};
const { title, id }: Props = Astro.props;

const handle = (text: string) => {
	return text
		.toLowerCase()
		.replace(/[^a-z0-9]+/g, "-")
		.replace(/-$/, "")
		.replace(/^-/, "");
};
---

<section id={id ?? handle(title ?? "")}>
	{title && <h2 class="font-bold mb-3">{title}</h2>}
	<slot />
</section>
