---
type Props = {
	title?: string;
	id?: string;
};
const { title, id }: Props = Astro.props;

const handle = (text: string) => {
	return text
		.toLowerCase()
		.replace(/[^a-z0-9]+/g, "-")
		.replace(/-$/, "")
		.replace(/^-/, "");
};
---

<section id={id ?? handle(title ?? "")} class="scroll-mt-16">
	{title && <h2>{title}</h2>}
	<slot />
</section>
