---
import { getNotes, type GetNotesResponse } from "@/utils/collections/notes";
import { route } from "@/utils/routes";

type Props = {
	tags: GetNotesResponse["tags"];
};

const { tags } = Astro.props;
const { pathname } = Astro.url;
const isActive = (tag: string) => pathname?.includes(tag);
---

<ul class="flex gap-2 list-none p-0 m-0">
	{
		tags.map((item) => (
			<li class="p-0 m-0">
				<a
					href={isActive(item.tag) ? route("notes") : route("noteTag", [{ key: ":tag", value: item.tag }])}
					class:list={[
						"no-underline text-xs  px-2 py-1 rounded-md",
						isActive(item.tag) ? "bg-gray-200 dark:bg-gray-700" : "bg-gray-100 dark:bg-gray-800",
					]}
				>
					#{item.tag} ({item.count})
				</a>
			</li>
		))
	}
</ul>
