---
layout: layouts/base.njk
---

{% include "parts/nav.njk" %}

<div class="wrapper-small">
	<main class="post-main">
		<article id="post">
			<header class="post-header">
				<h1 class="post-title">{{ title }}</h1>
			</header>
		  <div class="post-content">
				{{ content | safe }}
			</div>
		</article>
	</main>
</div>

{% include "parts/footer.njk" %}
