/* $WRAPPER */

.body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.wrapper {
	margin-bottom: 100px;
	max-width: $wrapper-width;
	margin-top: calc(var(--Navbar-height) + 20px);
	transition: time(normal) margin-top ease-in-out;
	@include marginX($wrapper-margin-x);
	@include from($wrapper-width + ($wrapper-margin-x * 2)) {
		@include marginX(auto);
	}
}
