---
title: Iván Barcia - Blog
layout: layouts/default.njk
---

<div class="wrapper">
	<main class="blog-main">
		<header>
			<h1>Blog</h1>
		</header>

		<div class="blog-content">
			<ul class="blog-postList">
				{% for post in collections.post | reverse %}
				<li class="blog-postList-item">
					<article class="blog-post">
						<a class="blog-post-link" href="{{ post.url | url }}"><h2 class="blog-post-title">{{ post.data.title }}</h2></a>
						<div class="blog-post-metadata">
							<time class="blog-post-date" datetime="{{ post.date | dateTo('iso') }}">{{ post.date | dateTo("dd LLLL, yyyy") }}</time>
							<span>&nbsp;&middot;&nbsp;</span>
							<ul class="blog-post-tagList">
									{% for tag in post.data.tags %}
										{% if tag != "post" %}
											{% set tagUrl %}/tags/{{ tag }}/{% endset %}
											<li class="blog-post-tag"><a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a></li>
										{% endif %}
									{% endfor %}
							</ul>
						</div>
					</article>
				</li>
				{% endfor %}
			</ul>

			<!-- <aside class="blog-widgetArea">
				<ul class="widget-tagList">
					<li><a href="">Tag 1</a></li>
					<li><a href="">Tag 2</a></li>
					<li><a href="">Tag 3</a></li>
					<li><a href="">Tag 4</a></li>
					<li><a href="">Tag 5</a></li>
				</ul class="widget-tagList">
			</aside> -->
		</div>

	</main>
</div>
