---
title: Iván Barcia
layout: layouts/default.njk
pageClass: page-home
---

<div class="wrapper">
	<main class="home-main">
		<header>
			<h1>Iván Barcieaaaaaa</h1>
			<h2>Web Designer & Developer</h2>
		</header>
	</main>
</div>
