---
title: Notes
layout: layouts/default.njk
---

<ul class="noteList">
	{% for note in collections.note | reverse %}
	<li class="noteList-item">
			{% include 'parts/note.njk' %}
	</li>
	{% endfor %}
</ul>
