---
import Layout from "@/layouts/Base.astro";

const { title } = Astro.props.frontmatter || Astro.props;
---

<Layout>
    <div class="Container is-small">
        <h1 class="title">{title}</h1>
        <div class="Prose">
            <slot />
        </div>
    </div>
</Layout>
