---
import { Image } from "astro:assets";
const logos = import.meta.glob<{ default: ImageMetadata }>("./logos/*.png");
const CLIENTS = [
    {
        name: "F.C. Barcelona",
        logo: "./logos/barcelona.png",
    },
    {
        name: "Meliá Hotels",
        logo: "./logos/melia.png",
    },
    {
        name: "GitHub",
        logo: "./logos/github.png",
    },
    {
        name: "RedRadix",
        logo: "./logos/redradix.png",
    },
    {
        name: "Tifin",
        logo: "./logos/tifin.png",
    },
    {
        name: "OpositaTest",
        logo: "./logos/opositatest.png",
    },
    {
        name: "Ai Consortivm",
        logo: "./logos/aiconsortivm.png",
    },
    {
        name: "Grow Nutrition",
        logo: "./logos/grow.png",
    },
];
console.log(logos);
---

<section class="Section Clients">
    <div class="Container">
        <h2>Companies I've worked with</h2>
        <ul class="clients-list">
            {
                CLIENTS.map(async (client) => {
                    const logo = await logos[client.logo]();
                    return (
                        <li>
                            <Image src={logo.default} alt={client.name} />
                        </li>
                    );
                })
            }
        </ul>
    </div>
</section>

<script>
    import gsap from "gsap";
    import ScrollTrigger from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    gsap.from(".clients-list li", {
        opacity: 0,
        y: 30,
        stagger: 0.1,
        duration: 1,
        ease: "power3.out",
        scrollTrigger: {
            trigger: ".Clients",
            start: "top 70%",
        },
    });
</script>

<style>
    .clients-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    @media (max-width: 768px) {
        .clients-list {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .clients-list li {
        aspect-ratio: 2 / 1;
    }

    .clients-list img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
</style>
